body {
    text-align: center;
    background-image: linear-gradient(#84FFFF 0%, #18FFFF 50%, #00E5FF 75%, #00B8D4 100%);
    background-repeat: no-repeat;
}

img {
    border-radius: 50%;
    height: 290px;
}

#bio {
    font-size: 42;
    text-align: center;
    padding: 50px;
    background-picture: linear-gradient(purple, skyblue);
}

.line {
    height: 6px;
    background-color: #000;
    width: 270px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    z-index: 9999999;
    position: absolute;
}

.links {
    float: left;
    color: blue;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-size: 20px;
    border: 2px solid;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
    color: black;
    font-family: fantasy;
}
h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
    font-family: Train One, cursive;
}
    
html{
    scroll-behavior: smooth;
}
